In [39]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('yran').getOrCreate()

In [40]:
df = spark.read.csv('722Yiqiao/educdata.csv',header=True,inferSchema=True)

In [41]:
df.show()

+------+-----------+------------+------------+-------+---------+-------+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|gender|NationalITy|PlaceofBirth|     StageID|GradeID|SectionID|  Topic|Semester|Relation|raisedhands|VisITedResources|AnnouncementsView|Discussion|ParentAnsweringSurvey|ParentschoolSatisfaction|StudentAbsenceDays|Class|
+------+-----------+------------+------------+-------+---------+-------+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         15|              16|                2|        20|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         20|              20|                3|        25|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         10|               7|                0|        30|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         30|              25|                5|        35|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         40|              50|               12|        50|                   No|                     Bad|           Above-7|    M|
|     F|         KW|      KuwaIT|  lowerlevel|      4|        A|     IT|       F|  Father|         42|              30|               13|        70|                  Yes|                     Bad|           Above-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A|   Math|       F|  Father|         35|              12|                0|        17|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A|   Math|       F|  Father|         50|              10|               15|        22|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        A|   Math|       F|  Father|         12|              21|               16|        50|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        B|     IT|       F|  Father|         70|              80|               25|        70|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A|   Math|       F|  Father|         50|              88|               30|        80|                  Yes|                    Good|           Under-7|    H|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B|   Math|       F|  Father|         19|               6|               19|        12|                  Yes|                    Good|           Under-7|    M|
|     M|      Egypt|       Egypt|MiddleSchool|      7|        A|     IT|       F|  Father|       null|              60|               36|        80|                  Yes|                    Good|           Above-7|    M|
|     M|       Iran|        Iran|  HighSchool|      2|        B|     IT|       F|  Father|       null|              40|               50|      null|                  Yes|                    Good|           Under-7|    M|
|     M|       Iraq|        Iraq|MiddleSchool|      6|        A|English|       F|    null|         45|              56|               78|      null|                 null|                    null|           Under-7|    H|
|     M|     Jordan|      Jordan|        null|   null|        A|English|       F|  Father|         34|              45|               21|        88|                 null|                    null|              null|    K|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A|   Math|       F|  Father|       null|              43|               31|        19|                  Yes|                    Good|           Under-7|    M|
|     M|    lebanon|     lebanon|MiddleSchool|   null|     null|   Math|       F|  Father|         56|              22|                7|        45|                  Yes|                    Good|           Above-7|    L|
|     M|       null|        null|  lowerlevel|      2|        A|   null|    null|  Father|         43|               9|               13|         5|                   No|                    Good|           Above-7|    L|
|     M|    Morocco|     Morocco|  lowerlevel|      2|        B|   null|    null|  Father|         43|              56|               71|      null|                  Yes|                    Good|           Under-7|    H|
+------+-----------+------------+------------+-------+---------+-------+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
only showing top 20 rows

In [42]:
# Print schema allows us to visualise the data structure at a high level. 
df.printSchema()

# We can also use head to print a specific amount of rows, so we can get a better understanding of the data points. 
# Note that we have to specify 'print' depending on the method we're using. Otherwise it may not show up!
print(df.head(1))

root
 |-- gender: string (nullable = true)
 |-- NationalITy: string (nullable = true)
 |-- PlaceofBirth: string (nullable = true)
 |-- StageID: string (nullable = true)
 |-- GradeID: integer (nullable = true)
 |-- SectionID: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Semester: string (nullable = true)
 |-- Relation: string (nullable = true)
 |-- raisedhands: integer (nullable = true)
 |-- VisITedResources: integer (nullable = true)
 |-- AnnouncementsView: integer (nullable = true)
 |-- Discussion: integer (nullable = true)
 |-- ParentAnsweringSurvey: string (nullable = true)
 |-- ParentschoolSatisfaction: string (nullable = true)
 |-- StudentAbsenceDays: string (nullable = true)
 |-- Class: string (nullable = true)

[Row(gender='M', NationalITy='KW', PlaceofBirth='KuwaIT', StageID='lowerlevel', GradeID=4, SectionID='A', Topic='IT', Semester='F', Relation='Father', raisedhands=15, VisITedResources=16, AnnouncementsView=2, Discussion=20, ParentAnsweringSurvey='Yes', ParentschoolSatisfaction='Good', StudentAbsenceDays='Under-7', Class='M')]

In [43]:
df.describe().show()

+-------+------+-----------+------------+----------+------------------+---------+-------+--------+--------+-----------------+-----------------+------------------+-----------------+---------------------+------------------------+------------------+-----+
|summary|gender|NationalITy|PlaceofBirth|   StageID|           GradeID|SectionID|  Topic|Semester|Relation|      raisedhands| VisITedResources| AnnouncementsView|       Discussion|ParentAnsweringSurvey|ParentschoolSatisfaction|StudentAbsenceDays|Class|
+-------+------+-----------+------------+----------+------------------+---------+-------+--------+--------+-----------------+-----------------+------------------+-----------------+---------------------+------------------------+------------------+-----+
|  count|   500|        500|         499|       499|               495|      496|    493|     498|     500|              497|              497|               499|              494|                  499|                     499|               499|  498|
|   mean|  null|       null|        null|      null| 5.616161616161616|     null|   null|    null|    null|46.45070422535211|54.23943661971831| 37.94188376753507|42.95748987854251|                 null|                    null|              null| null|
| stddev|  null|       null|        null|      null|2.8309562292991917|     null|   null|    null|    null|30.61470505874116|32.83102225430407|26.591937760795336|27.80160469661409|                 null|                    null|              null| null|
|    min|     F|      Egypt|       Egypt|HighSchool|                 2|        A| Arabic|       F|  Father|                0|                0|                 0|                0|                   No|                     Bad|           Above-7|    H|
|    max|     M|   venzuela|    venzuela|lowerlevel|                12|        C|Spanish|       S|     Mum|              100|               99|                98|               99|                  Yes|                    Good|           Under-7|    M|
+-------+------+-----------+------------+----------+------------------+---------+-------+--------+--------+-----------------+-----------------+------------------+-----------------+---------------------+------------------------+------------------+-----+

In [44]:
df.select('raisedhands', 'VisITedResources', 'AnnouncementsView', 'Discussion').describe().show()

+-------+-----------------+-----------------+------------------+-----------------+
|summary|      raisedhands| VisITedResources| AnnouncementsView|       Discussion|
+-------+-----------------+-----------------+------------------+-----------------+
|  count|              497|              497|               499|              494|
|   mean|46.45070422535211|54.23943661971831| 37.94188376753507|42.95748987854251|
| stddev|30.61470505874116|32.83102225430407|26.591937760795336|27.80160469661409|
|    min|                0|                0|                 0|                0|
|    max|              100|               99|                98|               99|
+-------+-----------------+-----------------+------------------+-----------------+

In [45]:
df.groupBy('GradeID').mean().show()

+-------+------------+------------------+---------------------+----------------------+------------------+
|GradeID|avg(GradeID)|  avg(raisedhands)|avg(VisITedResources)|avg(AnnouncementsView)|   avg(Discussion)|
+-------+------------+------------------+---------------------+----------------------+------------------+
|     12|        12.0| 37.36363636363637|                 41.0|     25.09090909090909| 54.90909090909091|
|   null|        null|41.333333333333336|                 43.5|    19.666666666666668|              43.2|
|      6|         6.0| 60.34285714285714|   54.529411764705884|                  47.4| 44.14705882352941|
|      5|         5.0|             30.75|                 14.0|                  29.5|              36.0|
|      9|         9.0|              21.6|                 46.0|                  27.0|              58.0|
|      4|         4.0|46.729166666666664|              51.6875|                43.125|            51.125|
|      8|         8.0|56.324786324786324|     63.1025641025641|     46.47008547008547|43.495726495726494|
|      7|         7.0| 47.16504854368932|    52.86666666666667|     37.88461538461539| 48.06730769230769|
|     10|        10.0|29.833333333333332|                 44.4|                  38.5|              28.4|
|     11|        11.0| 58.30769230769231|    62.30769230769231|     52.38461538461539| 55.69230769230769|
|      2|         2.0| 36.61744966442953|    51.14666666666667|    28.453333333333333| 34.17567567567568|
+-------+------------+------------------+---------------------+----------------------+------------------+

In [46]:
group_GradeID_df = df.groupBy('GradeID').mean()
print("Sorted by raisedhands")
group_GradeID_df.orderBy('avg(raisedhands)').show()
print("Sorted by VisITedResources")
df.groupBy('GradeID').mean().orderBy('avg(VisITedResources)').show()

Sorted by raisedhands
+-------+------------+------------------+---------------------+----------------------+------------------+
|GradeID|avg(GradeID)|  avg(raisedhands)|avg(VisITedResources)|avg(AnnouncementsView)|   avg(Discussion)|
+-------+------------+------------------+---------------------+----------------------+------------------+
|      9|         9.0|              21.6|                 46.0|                  27.0|              58.0|
|     10|        10.0|29.833333333333332|                 44.4|                  38.5|              28.4|
|      5|         5.0|             30.75|                 14.0|                  29.5|              36.0|
|      2|         2.0| 36.61744966442953|    51.14666666666667|    28.453333333333333| 34.17567567567568|
|     12|        12.0| 37.36363636363637|                 41.0|     25.09090909090909| 54.90909090909091|
|   null|        null|41.333333333333336|                 43.5|    19.666666666666668|              43.2|
|      4|         4.0|46.729166666666664|              51.6875|                43.125|            51.125|
|      7|         7.0| 47.16504854368932|    52.86666666666667|     37.88461538461539| 48.06730769230769|
|      8|         8.0|56.324786324786324|     63.1025641025641|     46.47008547008547|43.495726495726494|
|     11|        11.0| 58.30769230769231|    62.30769230769231|     52.38461538461539| 55.69230769230769|
|      6|         6.0| 60.34285714285714|   54.529411764705884|                  47.4| 44.14705882352941|
+-------+------------+------------------+---------------------+----------------------+------------------+

Sorted by VisITedResources
+-------+------------+------------------+---------------------+----------------------+------------------+
|GradeID|avg(GradeID)|  avg(raisedhands)|avg(VisITedResources)|avg(AnnouncementsView)|   avg(Discussion)|
+-------+------------+------------------+---------------------+----------------------+------------------+
|      5|         5.0|             30.75|                 14.0|                  29.5|              36.0|
|     12|        12.0| 37.36363636363637|                 41.0|     25.09090909090909| 54.90909090909091|
|   null|        null|41.333333333333336|                 43.5|    19.666666666666668|              43.2|
|     10|        10.0|29.833333333333332|                 44.4|                  38.5|              28.4|
|      9|         9.0|              21.6|                 46.0|                  27.0|              58.0|
|      2|         2.0| 36.61744966442953|    51.14666666666667|    28.453333333333333| 34.17567567567568|
|      4|         4.0|46.729166666666664|              51.6875|                43.125|            51.125|
|      7|         7.0| 47.16504854368932|    52.86666666666667|     37.88461538461539| 48.06730769230769|
|      6|         6.0| 60.34285714285714|   54.529411764705884|                  47.4| 44.14705882352941|
|     11|        11.0| 58.30769230769231|    62.30769230769231|     52.38461538461539| 55.69230769230769|
|      8|         8.0|56.324786324786324|     63.1025641025641|     46.47008547008547|43.495726495726494|
+-------+------------+------------------+---------------------+----------------------+------------------+

In [47]:
print("Total data points:", df.count())

Total data points: 501

In [48]:
df.na.drop().show()
print("Total data points:", df.count())

+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|gender|NationalITy|PlaceofBirth|     StageID|GradeID|SectionID|Topic|Semester|Relation|raisedhands|VisITedResources|AnnouncementsView|Discussion|ParentAnsweringSurvey|ParentschoolSatisfaction|StudentAbsenceDays|Class|
+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         15|              16|                2|        20|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         20|              20|                3|        25|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         10|               7|                0|        30|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         30|              25|                5|        35|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         40|              50|               12|        50|                   No|                     Bad|           Above-7|    M|
|     F|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         42|              30|               13|        70|                  Yes|                     Bad|           Above-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         35|              12|                0|        17|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         50|              10|               15|        22|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         12|              21|               16|        50|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|  Father|         70|              80|               25|        70|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         50|              88|               30|        80|                  Yes|                    Good|           Under-7|    H|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B| Math|       F|  Father|         19|               6|               19|        12|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|          5|               1|                0|        11|                   No|                     Bad|           Above-7|    L|
|     M|    lebanon|     lebanon|MiddleSchool|      8|        A| Math|       F|  Father|         20|              14|               12|        19|                   No|                     Bad|           Above-7|    L|
|     F|         KW|      KuwaIT|MiddleSchool|      8|        A| Math|       F|     Mum|         62|              70|               44|        60|                   No|                     Bad|           Above-7|    H|
|     F|         KW|      KuwaIT|MiddleSchool|      6|        A|   IT|       F|  Father|         30|              40|               22|        66|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|  Father|         36|              30|               20|        80|                   No|                     Bad|           Above-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         55|              13|               35|        90|                   No|                     Bad|           Above-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        A|   IT|       F|     Mum|         69|              15|               36|        96|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|     Mum|         70|              50|               40|        99|                  Yes|                    Good|           Under-7|    H|
+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
only showing top 20 rows

Total data points: 501

In [49]:
dropped_df = df.na.drop()
dropped_df.show()
print("Total data points:", dropped_df.count())

+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|gender|NationalITy|PlaceofBirth|     StageID|GradeID|SectionID|Topic|Semester|Relation|raisedhands|VisITedResources|AnnouncementsView|Discussion|ParentAnsweringSurvey|ParentschoolSatisfaction|StudentAbsenceDays|Class|
+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         15|              16|                2|        20|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         20|              20|                3|        25|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         10|               7|                0|        30|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         30|              25|                5|        35|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         40|              50|               12|        50|                   No|                     Bad|           Above-7|    M|
|     F|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|         42|              30|               13|        70|                  Yes|                     Bad|           Above-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         35|              12|                0|        17|                   No|                     Bad|           Above-7|    L|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         50|              10|               15|        22|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         12|              21|               16|        50|                  Yes|                    Good|           Under-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|  Father|         70|              80|               25|        70|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         50|              88|               30|        80|                  Yes|                    Good|           Under-7|    H|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B| Math|       F|  Father|         19|               6|               19|        12|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|  lowerlevel|      4|        A|   IT|       F|  Father|          5|               1|                0|        11|                   No|                     Bad|           Above-7|    L|
|     M|    lebanon|     lebanon|MiddleSchool|      8|        A| Math|       F|  Father|         20|              14|               12|        19|                   No|                     Bad|           Above-7|    L|
|     F|         KW|      KuwaIT|MiddleSchool|      8|        A| Math|       F|     Mum|         62|              70|               44|        60|                   No|                     Bad|           Above-7|    H|
|     F|         KW|      KuwaIT|MiddleSchool|      6|        A|   IT|       F|  Father|         30|              40|               22|        66|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|  Father|         36|              30|               20|        80|                   No|                     Bad|           Above-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        A| Math|       F|  Father|         55|              13|               35|        90|                   No|                     Bad|           Above-7|    M|
|     F|         KW|      KuwaIT|MiddleSchool|      7|        A|   IT|       F|     Mum|         69|              15|               36|        96|                  Yes|                    Good|           Under-7|    M|
|     M|         KW|      KuwaIT|MiddleSchool|      7|        B|   IT|       F|     Mum|         70|              50|               40|        99|                  Yes|                    Good|           Under-7|    H|
+------+-----------+------------+------------+-------+---------+-----+--------+--------+-----------+----------------+-----------------+----------+---------------------+------------------------+------------------+-----+
only showing top 20 rows

Total data points: 480

In [50]:
# Import pandas.
import pandas as pd

# Take the first five rows of data, and visualise.
pd.DataFrame(df.take(5), columns=df.columns)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,4,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,4,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,4,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,4,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,4,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [51]:
# To visualise the first five columns, simply add transpose. 
pd.DataFrame(df.take(5), columns=df.columns).transpose()

,0,1,2,3,4
gender,M,M,M,M,M
NationalITy,KW,KW,KW,KW,KW
PlaceofBirth,KuwaIT,KuwaIT,KuwaIT,KuwaIT,KuwaIT
StageID,lowerlevel,lowerlevel,lowerlevel,lowerlevel,lowerlevel
GradeID,4,4,4,4,4
SectionID,A,A,A,A,A
Topic,IT,IT,IT,IT,IT
Semester,F,F,F,F,F
Relation,Father,Father,Father,Father,Father
raisedhands,15,20,10,30,40
VisITedResources,16,20,7,25,50
AnnouncementsView,2,3,0,5,12
Discussion,20,25,30,35,50
ParentAnsweringSurvey,Yes,Yes,No,No,No
ParentschoolSatisfaction,Good,Good,Bad,Bad,Bad
StudentAbsenceDays,Under-7,Under-7,Above-7,Above-7,Above-7
Class,M,M,L,L,M

In [52]:
# We can use group by and count to find out how many data points we have for each class in our predictor. 
df.groupby('GradeID').count().toPandas()

    GradeID  count
0      12.0     11
1       NaN      6
2       6.0     35
3       5.0      4
4       9.0      5
5       4.0     48
6       8.0    117
7       7.0    106
8      10.0      6
9      11.0     13
10      2.0    150

In [53]:
# Using a for loop to find all columns that belong to the integer data type. 
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int']

# Selecting the numeric features, generating summary statistics, and converting to a Pandas DataFrame.
df.select(numeric_features).describe().toPandas().transpose()

                       0                  1                   2    3    4
summary            count               mean              stddev  min  max
GradeID              495  5.616161616161616  2.8309562292991917    2   12
raisedhands          497  46.45070422535211   30.61470505874116    0  100
VisITedResources     497  54.23943661971831   32.83102225430407    0   99
AnnouncementsView    499  37.94188376753507  26.591937760795336    0   98
Discussion           494  42.95748987854251   27.80160469661409    0   99

In [54]:
# Now that we've carried out some basic data exploration, let's select the relevant features. Day/month have been excluded as they're irrelevant.
df = df.select('gender','StageID','SectionID','Topic', 'raisedhands', 'VisITedResources','AnnouncementsView','Discussion','StudentAbsenceDays','GradeID')
df.printSchema()

root
 |-- gender: string (nullable = true)
 |-- StageID: string (nullable = true)
 |-- SectionID: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- raisedhands: integer (nullable = true)
 |-- VisITedResources: integer (nullable = true)
 |-- AnnouncementsView: integer (nullable = true)
 |-- Discussion: integer (nullable = true)
 |-- StudentAbsenceDays: string (nullable = true)
 |-- GradeID: integer (nullable = true)

In [55]:
df.columns

['gender',
 'StageID',
 'SectionID',
 'Topic',
 'raisedhands',
 'VisITedResources',
 'AnnouncementsView',
 'Discussion',
 'StudentAbsenceDays',
 'GradeID']

In [56]:
my_col = df.select(['gender','StageID','Topic','raisedhands','VisITedResources','AnnouncementsView','Discussion','StudentAbsenceDays','GradeID'])

In [57]:
final_data = my_col.na.drop()

In [58]:
from pyspark.ml.feature import (VectorAssembler, StringIndexer, VectorIndexer, OneHotEncoder)

gender_indexer = StringIndexer(inputCol = 'gender', outputCol = 'genderIndex')
gender_encoder = OneHotEncoder(inputCol='genderIndex', outputCol = 'genderVec')

In [59]:
Topic_indexer = StringIndexer(inputCol = 'Topic', outputCol = 'TopicIndex')
Topic_encoder = OneHotEncoder(inputCol = 'TopicIndex', outputCol = 'TopicVec')

In [60]:
StudentAbsenceDays_indexer = StringIndexer(inputCol = 'StudentAbsenceDays', outputCol = 'StudentAbsenceDaysIndex')
StudentAbsenceDays_encoder = OneHotEncoder(inputCol = 'StudentAbsenceDaysIndex', outputCol = 'StudentAbsenceDaysVec')

In [61]:
StageID_indexer = StringIndexer(inputCol = 'StageID', outputCol = 'StageIDIndex')
StageID_encoder = OneHotEncoder(inputCol = 'StageIDIndex', outputCol = 'StageIDVec')

In [62]:
assembler = VectorAssembler(inputCols = ['genderVec', 'StageIDVec', 'TopicVec', 'raisedhands', 'VisITedResources', 'AnnouncementsView', 'Discussion', 'StudentAbsenceDaysVec'], outputCol = 'features')

In [63]:
from pyspark.ml import Pipeline

log_reg = LogisticRegression(featuresCol = 'features', labelCol = 'GradeID')

In [64]:
pipeline = Pipeline(stages = [gender_indexer, Topic_indexer, 
                             StudentAbsenceDays_indexer, StageID_indexer, gender_encoder, Topic_encoder,
                             StudentAbsenceDays_encoder, StageID_encoder, assembler, log_reg])

In [65]:
train, test = final_data.randomSplit([0.7, 0.3])

In [66]:
fit_model = pipeline.fit(train)
results = fit_model.transform(test)
results.select('prediction', 'GradeID').show(3)

+----------+-------+
|prediction|GradeID|
+----------+-------+
|      12.0|     12|
|      12.0|     12|
|       2.0|     11|
+----------+-------+
only showing top 3 rows

In [67]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

eval = BinaryClassificationEvaluator(rawPredictionCol = 'rawPrediction', labelCol = 'GradeID')
AUC = eval.evaluate(results)
AUC

1.0

In [68]:
train, test = df.randomSplit([0.7, 0.3], seed=100)
print(train.count())
print(test.count())

345
156

In [69]:
from pyspark.ml.classification import LogisticRegression

# Split our data. Note that the new DataFrame is being used.
train_data, test_data = pipe_df.randomSplit([0.7,0.3])
print("Training Dataset Count: " + str(train_data.count()))
print("Test Dataset Count: " + str(test_data.count()))

# Instantiate the model.
lr_model = LogisticRegression(featuresCol='features',labelCol='label')

# Fit the model.
lr_model = lr_model.fit(train_data)

# And evaluate the model using the test data.
results = lr_model.transform(test_data)

NameError: name 'pipe_df' is not defined

In [70]:
import matplotlib.pyplot as plt
import numpy as np

# Visualising the coefficients. Sort from lowest to highest.
beta = np.sort(lr_model.coefficients)

# Plot the data.
plt.plot(beta)

# Add a label to the data.
plt.ylabel('Beta Coefficients')

# Show the graph. 
plt.show()

NameError: name 'lr_model' is not defined

In [71]:
# Let's get a summary of the data.
training_summary = lr_model.summary

# Convert the DataFrame to a Pandas DataFrame.
ROC = training_summary.roc.toPandas()

# Plot the true positive and false positive rates.
plt.plot(ROC['FPR'],ROC['TPR'])

# Define the labels.
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.title('ROC Curve')
plt.show()

# Print the AUC statistic. 
print('Area Under the Curve: ' + str(training_summary.areaUnderROC))

NameError: name 'lr_model' is not defined

In [72]:
# Convert DataFrame to Pandas DataFrame.
pr = training_summary.pr.toPandas()

# Plot model recall and precision.
plt.plot(pr['recall'],pr['precision'])

# Define the labels and show the graph. 
plt.ylabel('Precision')
plt.xlabel('Recall')
plt.show()

NameError: name 'training_summary' is not defined